@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
html,body{
    line-height: 1.4;
    font-weight: 300;
    font-family: 'Roboto', sans-serif;
}
button{
    padding: 10px 15px;
    border: none;
    transition: 0.2s ease-in-out;
}
button:hover{
    opacity: 0.8;
    transition: 0.2s ease-in-out;
}
nav{
    box-shadow: 5px 5px 5px rgba(1, 1, 1, 0.05);
    position: sticky;
    top: 0;
    margin-bottom: 32px;
    background-color: white;
    padding: 10px;
    z-index: 50;
}
.logo{
    width: 201px;   
    height: 76px;
}
.bar-icon{
    width: 32px;
    height: 32px;
}
.food-img{
    width: 512px;
    height: 514px;
    border-radius: 256px;
}
.nav-container{
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.container{
    max-width: 1200px;
    margin: 0 auto;
}
.hero{
    display: flex;
    /* justify-content: space-between; */
    gap: 100px;
    align-items: center;
    justify-content: center;
    
}
.hero_content{
    display: flex;
    flex-direction: column;
    gap: 20px;
}
.tag{
    background: #149F39;
    color: white;
    padding:5px 10px;
    align-self: start;
    font-family: 'Roboto', sans-serif;
    font-size: 14px;
    font-style: normal;
    font-weight: 400;
}
.hero_content h1{
    line-height: 1.2;
    color: #000;
    font-family: Roboto;
    font-size: 72px;
    font-style: normal;
    font-weight: 500;
}
.hero_content p{
    color: #000;
    font-family: Roboto;
    font-size: 12px;
    font-style: normal;
    font-weight: 500;   
}
.explore-btn{
    background: #FFC066;
    align-self: flex-start;
    color: white;
}
.menu{
    display: flex;
    gap: 50px;
    flex-direction: column;
    margin: 50px 0;
    align-items: center;
}
.menu .tag{
    align-self: center;
}
.grid-img{
    border-radius: 10px;
    transition: 0.2s ease-in-out;
    width: 100%;
    height: 100%;
}
.grid-img:hover{
    transform: scale(1.05);
    transition: 0.2s ease-in-out;
}
.grid{
    display: grid;
    gap: 10px;
    grid-template-areas: 
    "I1 I1 I2 I3"
    "I1 I1 I2 I7"
    "I4 I5 I6 I7";
}
.item1{
    grid-area: I1;
}
.item2{
    grid-area: I2;
}
.item3{
    grid-area: I3;
}
.item4{
    grid-area: I4;
}
.item5{
    grid-area: I5;
}
.item6{
    grid-area: I6;
}
.item7{
    grid-area: I7;
}
@media(max-width:786px){
    .hero{
        flex-direction: column;
    }
    .hero_image{
        display: flex;
        justify-content: center;
    }
    .hero_image img{
        width: 80%;
    }
    .hero_content{
        gap: 10px;
        padding: 10px;
    }
    .hero_content{
        font-size: 32px;
    }
    .features{
        flex-direction: column;
    }
    .grid{
        padding: 10px;
    }
    .grid-img{
        border-radius: 0;
    }
    .footer-container{
        flex-direction: column;
    }
}
.features{
    display: flex;
    margin-top: 100px;
    gap: 20px;
    justify-content: center;
    margin-bottom: 50px;
}
.feature1{
    display: flex;
    gap: 10px;
    padding: 20px;
    font-size: 14px;
    transition: 0.2s ease-in-out;
}
.feature2{
    display: flex;
    gap: 10px;
    padding: 20px;
    font-size: 14px;
    transition: 0.2s ease-in-out;
}
.feature3{
    display: flex;
    gap: 10px;
    padding: 20px;
    font-size: 14px;
    transition: 0.2s ease-in-out;
}
.feature1:hover{
    transition: 0.2s ease-in-out;
    box-shadow: 5px 5px 5px rgba(1, 1, 1, 0.05);
}
.feature2:hover{
    transition: 0.2s ease-in-out;
    box-shadow: 5px 5px 5px rgba(1, 1, 1, 0.05);
}
.feature3:hover{
    transition: 0.2s ease-in-out;
    box-shadow: 5px 5px 5px rgba(1, 1, 1, 0.05);
}
.divider{
    border: 1px solid #ccc;
    margin: 20px;
}
/* Footer Section */
footer{
    background-color: #FFF0DB;
}
.footer-container{
    padding: 30px;
    display: flex;
    justify-content: space-between;
}
.main-list h3{
    margin-bottom: 10px;
    color: gray;
}
.news-letter h3{
    margin-bottom: 10px;
    color: gray;
}
.news-letter input{
    padding: 5px 40px;
    margin-bottom: 10px;
}
.icon-conatiner{
    display: flex;
    gap: 15px;
    font-size: 32px;
}
.main-list ul{
    list-style: none;
}
.main-list ul li{
    font-size: 16px;
    margin-bottom: 5px;
}